/* Basic styles */
html {
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  height: 100%;
}

header {
  background-color: #c9e8f5;
  padding: 20px;
}

/* Add styles for the fixed headers */
#fixed-header-rhea,
#fixed-header-daughter,
#fixed-header-granddaughter,
#fixed-header-sister,
#fixed-header-mother {
  position: static; /* Initially set to static */
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* Adjust background color as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  z-index: 1000; /* Ensure headers appear above other content */
}

/* Add styles for the h1 elements within fixed headers */
.fixed-header h1 {
  color: #33333367; /* Adjust text color as needed */
  margin: 0;
  /* Add padding for spacing */
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-name {
  margin: 0;
  font-size: 1.2rem;
  color: black;
}

.nav-title {
  font-size: 0.8rem;
  color: #999;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  /* Make sections positioned for layering */
  text-align: center;
  display: flex; /* Allow vertical centering of content */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure sections fill viewport height */
}

img {
  width: auto; /* Ensure images have a fluid width */
  height: auto; /* Maintain aspect ratio */
  max-width: 50%; /* Limit maximum width to prevent stretching */
  max-height: 50%; /* Limit maximum height to prevent stretching */
}

h1 {
  color: rgba(0, 0, 0, 0.532);
  text-align: center;
  font-size: 70px;
}

p {
  color: black;
}

.rhea {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.daughter {
  font-family: Didot, sans-serif;
  font-weight: 500;
  margin-top: 50px;
}

.grand-daughter {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.sister {
  font-family: Didot, sans-serif;
  font-weight: 500;
  margin-top: 30px;
}

.mother {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  margin-top: 55px;
  color: black;
}

.first {
  color: #b1adad;
}

footer {
  background-color: #c9e8f5;
  padding: 10px;
  text-align: center;
}

.slider-item img {
  width: 100%;
  height: auto;
}

.highway-car img {
  width: 180px; /* Adjust width as needed */
  height: 100%; /* Images fill container height */
  object-fit: cover;
}

/* Assuming total image width is 720px (adjust as needed) */
@keyframes translatestf {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-720px);
  }
}

@keyframes translateinfinite {
  100% {
    transform: translateX(calc(-180px * 2));
  }
}
